In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

### Begin pulling in csv's

In [2]:
usd = pd.read_csv('USDINDEX.csv')
usd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1305 entries, 0 to 1304
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   DATE      1305 non-null   object
 1   DTWEXBGS  1305 non-null   object
dtypes: object(2)
memory usage: 20.5+ KB

In [3]:
# japan yen csv
jpy = pd.read_csv('DEXJPUS.csv')
jpy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1305 entries, 0 to 1304
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   DATE     1305 non-null   object
 1   DEXJPUS  1305 non-null   object
dtypes: object(2)
memory usage: 20.5+ KB

In [4]:
# Hong kong dollar csv
hk = pd.read_csv('DEXHKUS.csv')
hk.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1305 entries, 0 to 1304
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   DATE     1305 non-null   object
 1   DEXHKUS  1305 non-null   object
dtypes: object(2)
memory usage: 20.5+ KB

In [5]:
# chinese yuan
ch = pd.read_csv('DEXCHUS.csv')
ch.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1305 entries, 0 to 1304
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   DATE     1305 non-null   object
 1   DEXCHUS  1305 non-null   object
dtypes: object(2)
memory usage: 20.5+ KB

In [6]:
# korean won
kr = pd.read_csv('DEXKOUS.csv')
kr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1305 entries, 0 to 1304
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   DATE     1305 non-null   object
 1   DEXKOUS  1305 non-null   object
dtypes: object(2)
memory usage: 20.5+ KB

In [7]:
# singapore dollar
si = pd.read_csv('DEXSIUS.csv')
si.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1305 entries, 0 to 1304
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   DATE     1305 non-null   object
 1   DEXSIUS  1305 non-null   object
dtypes: object(2)
memory usage: 20.5+ KB

In [8]:
# taiwan dollar
tw = pd.read_csv('DEXTAUS.csv')
tw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1305 entries, 0 to 1304
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   DATE     1305 non-null   object
 1   DEXTAUS  1305 non-null   object
dtypes: object(2)
memory usage: 20.5+ KB

In [9]:
# Thai Baht
th = pd.read_csv('DEXTHUS.csv')
th.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1305 entries, 0 to 1304
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   DATE     1305 non-null   object
 1   DEXTHUS  1305 non-null   object
dtypes: object(2)
memory usage: 20.5+ KB

## Takeaway's:
- All csvs have the same amount of rows
- No nulls
- The DATE is an object when it should be a time series
- Names of currencies should have better naming conventions for recognizability
- dataframes should be merged
- create moniker for usd

### Merge dataframes

Required Merges
- [x] jpy
- [x] hk
- [x] ch
- [x] kr
- [x] si
- [x] tw
- [x] th

In [10]:
merge1 = pd.merge(jpy, hk, on='DATE')
merge2 = pd.merge(merge1, ch, on='DATE')
merge3 = pd.merge(merge2, kr, on='DATE')
merge4 = pd.merge(merge3, si, on='DATE')
merge5 = pd.merge(merge4, tw, on='DATE')
merge6 = pd.merge(merge5, th, on='DATE')
df = pd.merge(merge6, usd, on='DATE')

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1305 entries, 0 to 1304
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   DATE      1305 non-null   object
 1   DEXJPUS   1305 non-null   object
 2   DEXHKUS   1305 non-null   object
 3   DEXCHUS   1305 non-null   object
 4   DEXKOUS   1305 non-null   object
 5   DEXSIUS   1305 non-null   object
 6   DEXTAUS   1305 non-null   object
 7   DEXTHUS   1305 non-null   object
 8   DTWEXBGS  1305 non-null   object
dtypes: object(9)
memory usage: 102.0+ KB

### Create USD column

In [12]:
df['USD_Actual'] = '1.00'

In [13]:
df.head()

,DATE,DEXJPUS,DEXHKUS,DEXCHUS,DEXKOUS,DEXSIUS,DEXTAUS,DEXTHUS,DTWEXBGS,USD_Actual
0,2017-06-26,111.4800,7.7986,6.8382,1132.4800,1.3875,30.3000,33.9700,112.7623,1.00
1,2017-06-27,112.4200,7.7999,6.8100,1137.7700,1.3867,30.3200,33.9400,112.5494,1.00
2,2017-06-28,112.1800,7.8030,6.7984,1141.9100,1.3818,30.4100,33.9500,112.0744,1.00
3,2017-06-29,112.3200,7.8038,6.7840,1144.0700,1.3799,30.4600,33.9800,111.9981,1.00
4,2017-06-30,112.4000,7.8055,6.7793,1143.7500,1.3765,30.3800,33.9200,111.9897,1.00

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1305 entries, 0 to 1304
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   DATE        1305 non-null   object
 1   DEXJPUS     1305 non-null   object
 2   DEXHKUS     1305 non-null   object
 3   DEXCHUS     1305 non-null   object
 4   DEXKOUS     1305 non-null   object
 5   DEXSIUS     1305 non-null   object
 6   DEXTAUS     1305 non-null   object
 7   DEXTHUS     1305 non-null   object
 8   DTWEXBGS    1305 non-null   object
 9   USD_Actual  1305 non-null   object
dtypes: object(10)
memory usage: 112.1+ KB

### Change 'DATE' from 'object' to 'datetime64'

In [25]:
df['DATE'] = df['DATE'].astype('datetime64')

In [26]:
for col in df.columns[1:10]:
    df[col] = pd.to_numeric(df[col],errors='coerce')

In [27]:
# sanity check
df.head()

,DATE,JPYEN,HKD,CHYUAN,KRWON,SPD,TWD,THB,USD_Index,USD_Actual
0,2017-06-26,111.48,7.7986,6.8382,1132.48,1.3875,30.30,33.97,112.7623,1.0
1,2017-06-27,112.42,7.7999,6.8100,1137.77,1.3867,30.32,33.94,112.5494,1.0
2,2017-06-28,112.18,7.8030,6.7984,1141.91,1.3818,30.41,33.95,112.0744,1.0
3,2017-06-29,112.32,7.8038,6.7840,1144.07,1.3799,30.46,33.98,111.9981,1.0
4,2017-06-30,112.40,7.8055,6.7793,1143.75,1.3765,30.38,33.92,111.9897,1.0

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1305 entries, 0 to 1304
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   DATE        1305 non-null   datetime64[ns]
 1   JPYEN       1247 non-null   float64
 2   HKD         1247 non-null   float64
 3   CHYUAN      1247 non-null   float64
 4   KRWON       1247 non-null   float64
 5   SPD         1247 non-null   float64
 6   TWD         1247 non-null   float64
 7   THB         1247 non-null   float64
 8   USD_Index   1245 non-null   float64
 9   USD_Actual  1305 non-null   float64
dtypes: datetime64[ns](1), float64(9)
memory usage: 112.1 KB

### Rename columns

In [29]:
df = df.rename(columns={'DEXJPUS': 'JPYEN', 'DEXHKUS':'HKD',
                        'DEXCHUS':'CHYUAN', 'DEXKOUS':'KRWON',
                        'DEXSIUS':'SPD', 'DEXTAUS':'TWD',
                        'DEXTHUS':'THB', 'DTWEXBGS':'USD_Index'})

In [30]:
#check
df.head()

,DATE,JPYEN,HKD,CHYUAN,KRWON,SPD,TWD,THB,USD_Index,USD_Actual
0,2017-06-26,111.48,7.7986,6.8382,1132.48,1.3875,30.30,33.97,112.7623,1.0
1,2017-06-27,112.42,7.7999,6.8100,1137.77,1.3867,30.32,33.94,112.5494,1.0
2,2017-06-28,112.18,7.8030,6.7984,1141.91,1.3818,30.41,33.95,112.0744,1.0
3,2017-06-29,112.32,7.8038,6.7840,1144.07,1.3799,30.46,33.98,111.9981,1.0
4,2017-06-30,112.40,7.8055,6.7793,1143.75,1.3765,30.38,33.92,111.9897,1.0

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1305 entries, 0 to 1304
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   DATE        1305 non-null   datetime64[ns]
 1   JPYEN       1247 non-null   float64
 2   HKD         1247 non-null   float64
 3   CHYUAN      1247 non-null   float64
 4   KRWON       1247 non-null   float64
 5   SPD         1247 non-null   float64
 6   TWD         1247 non-null   float64
 7   THB         1247 non-null   float64
 8   USD_Index   1245 non-null   float64
 9   USD_Actual  1305 non-null   float64
dtypes: datetime64[ns](1), float64(9)
memory usage: 112.1 KB

In [32]:
df.to_csv('dollarvs_data.csv', index=False)

##### Reproduce in wrangle.py